{
   "extends": "airbnb",
    "plugins": ["babel"],
    "parser": "babel-eslint",
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "arrow-body-style": ["error", "never"], 
        "no-param-reassign": ["error", { "props": false }], 
        "class-methods-use-this": ["error", {"exceptMethods": [
            "transformID", 
            "transformPantherID", 
            "transformDateOfBirth", 
            "transformEmail", 
            "transformGSUEmail",
            "transformEntryTerm", 
            "transformFirstName", 
            "transformLastName",
            "transformMiddleName", 
            "transformTXTPhone", 
            "transformMobilePhone",
            "transformPhone", 
            "transformTXTOptOut", 
            "transformAddressLine1", 
            "transformAddressLine2", 
            "transformAddressLine3", 
            "transformCity", 
            "transformState", 
            "transformZip", 
            "transformCounty", 
            "transformCountry", 
            "transformStudentStatusCategory",
            "transformStudentStatus", 
            "transformStudentType", 
            "transformFinAidOutstanding", 
            "transformFinancialAidOffered", 
            "transformFinAidInterest", 
            "transformFAFSAReceived", 
            "transformScholarshipAwarded", 
            "transformScholarshipAccepted", 
            "transformHousingPreference", 
            "transformHousingDepositDate", 
            "transformResidency", 
            "transformInceptRegistrationDate", 
            "transformInceptAttended",
            "transformInceptAttendedDate", 
            "transformIntentReceivedDate", 
            "transformLPVerified", 
            "transformImmunizationHold", 
            "transformReceivedHSTranscript", 
            "transformEmergencyContactHold", 
            "transformAdmitHubHonorsProspect", 
            "transformHonors", 
            "transformMatchDate", 
            "transformPellAwardDate", 
            "transformSAAppl87", 
            "transformSAApplReceived", 
            "transformSuccessAcademy", 
            "transformTuitionPaymentPlan", 
            "transformWithdrawalReason", 
            "transformWorkstudyAwardAmount", 
            "transformWorkstudyAwardDate", 
            "transformAcceptedFederalLoan", 
            "transformAidGap", 
            "transformAppCompleteDate", 
            "transformDecisionDate", 
            "transformDecisionPlan", 
            "transformFAFSAVerificationDate", 
            "transformFinancialAidInterest", 
            "transformFirstGeneration", 
            "transformHighSchoolGraduationYear", 
            "transformHighSchoolCode", 
            "transformHopeAwardAmount", 
            "transformHopeAwardDate", 
            "transformHOPGSF", 
            "transformMajorCollege", 
            "transformMajorInterest", 
            "transformOfferedFederalLoan", 
            "transformPellAwardAmount", 
            "transformMPNPerkins", 
            "transformMPNStaffordPlus", 
            "transformCompletedEntrLoanCounseling", 
            "transformCollegeId", 
            "transformPermittedUser",
            "transformCollegeName", 
            "transformKnownUser",
            "transformGeorgia"
            ]}]
   }
}
